networks:
  app_network:
    driver: bridge

services:
  postgres:
    container_name: jobPost_db
    build: ./database
    image: img-postgres
    env_file:
      - .env
    ports:
      - "9000:5432"
    networks:
      - app_network

  fastify:
    restart: on-failure
    container_name: jobPost_backend
    build: ./backend
    image: img-fastify
    env_file:
      - .env
    ports:
      - "5000:5000"
    networks:
      - app_network
    depends_on:
      - postgres