networks:
  app_network:
    driver: bridge

services:
    postgres:
        container_name: jobPost-db
        build: ./database
        image: img-postgres
        env_file:
            - .env
        ports:
            - "9000:5432"
        networks:
            - app_network

    fastify:
        restart: on-failure
        container_name: jobPost-backend
        build: ./backend
        image: img-fastify
        env_file:
            - .env
        ports:
            - "5000:5000"
        networks:
            - app_network
        depends_on:
            - postgres

    react:
        restart: on-failure
        container_name: jobPost-frontend
        build: ./frontend
        image: img-react
        env_file:
            - .env
        ports:
            - "3000:3000"
        networks:
            - app_network
        depends_on:
            - fastify

